@import 'datepicker.scss';
@import 'variables';

.description {
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh !important;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--start-between {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex--column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  text-decoration: none;
  color: $text-color;
}

.active-link {
  color: $main-color;
  font-size: 20px !important;
  transition: 0.3s;
}
