.description {
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}