@import 'datepicker.css';

.description {
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #2c3e50;
}

.active-link {
  color: #87ceeb;
  font-size: 20px !important;
  transition: 0.3s;
}
